#about {
    /* height:100vh;
     padding-top: 7rem;
     overflow:visible;*/
     /* padding-top: 5rem;*/
     
   
 }
 
 .about__container {
     text-align: center;
     height:100%;
     position:relative;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     gap:15rem; 
 }
 
 .aboutExplainer{
     flex:1;
     padding:5%;
 }
 
 .aboutCTA{
     flex:1;
     position: relative;
     
    
 }
 
 .CTAbox{
     background-color: var(--color-white);
     height: 480px;
     width: 400px;
     padding:5%;
     z-index: 100;
 }

 .CTAboximg{
 border-radius: 5%;
 width:500px;
 aspect-ratio: 1 /1;
 }
 
 .btn-place{
     position: relative;
     top:40%;
     /*this positioning isnt exactly right but we'll  come back to it*/
 }
 
 .clip-path-bottom-right{
   background: #0767A880;
  
  clip-path: ellipse(100% 97% at 100% 97%);
   height: 100px;
   width:100px; 
 
   /*positioning of the quarter circle*/
   position:absolute;
   bottom:13%;
   right:-10%;
   z-index: 0;
   /*positioning END*/
 }
 
 
 
 .clip-path-bottom-left{
     background: var(--color-primary-variant) !important;
  
    clip-path: ellipse(100% 97% at 100% 97%);
     height: 100px;
     width:100px; 
 
 
 /*positioning of the quarter circle*/
 position:absolute;
 bottom:13%;
 left:-10%;
 z-index: 0;
   /*positioning END*/
   }
 
   
 
   .clip-path-top-left{
     background:var(--color-primary-variant);
   
    clip-path: ellipse(100% 97% at 0% 97%);
     height: 100px;
     width:100px; 
 
     /*positioning of the quarter circle*/
     position:absolute;
     top:-5%;
     left:-2%;
     z-index: -1;
 
     /*positioning END*/
   }
 
 /* ================ CTA ===============*/
 .cta {
     margin-top: 2.5rem;
     display:flex;
     gap:1rem; /*you need to add gap to your arsenal, you're still using margins inside flex and that sucks*/
     justify-content: center;
 
 }
 
 
 /* ================ about SOCIALS ===============*/
 
 .about__socials {
     display:flex;
     flex-direction:column;
     align-items: center;
     gap: 0.8rem;
 
     /*this is how we get those funky placements that accentuate a website*/
     position: absolute;
     left:0;
     bottom: 3rem;
 }
 
 /*notice how to do lines and shapes using "after pseudo element*/
 
 .about__socials::after{ /*i believe after and before are usuially just boxes , but it is our sizing and rotating of them that will make them into different shapes*/
  content:'';
  width:1px;
  height:2rem;
  background: var(--color-primary);
 
 }
 
 
 /* ================ ME ===============*/
 
 .me {
     background: linear-gradient(var(--color-primary),55% ,transparent);
     width:24rem; 
     height:32rem;
     position:absolute;
 
     /* this is how you can center an absolute element*/
     /*normally i used to do top 50% left 50% but i guess it's the same thing*/
     left:calc(50% - 11rem);
     
 
     margin-top:4rem;
     border-radius:12rem 12rem 0 0;
     overflow:visible;
     padding:1rem 1.5rem 1.5rem 1.5rem;
 }
 
 /* ================ SCROLL DOWN ===============*/
 
 .scroll__down {
     position:absolute;
     right:-2.3rem;
     bottom:5rem;
     transform:rotate(90deg);
     font-weight:500;
     font-size:1.1rem;
 }
 
 
 /* ======================== MEDIA QUERIES FOR about (KINDA LARGE DEVICES) ======================*/
 
 @media screen and (max-width:1500px) {
    
    .about__container {
      
       gap:4rem;
        
    }
 
 
  }

   /* ======================== MEDIA QUERIES FOR HEADER CHANGING TO COLUMN DISPLAY ======================*/

 @media screen and (max-width:1300px) {

    .about__container {
        flex-direction: column !important;
        align-items: center;
    }
    
 }
 
 /* ======================== MEDIA QUERIES FOR about (MEDIUM DEVICES) ======================*/
 
 @media screen and (max-width:1024px) {
    
    .about__container {
       flex-direction: column;
       gap:4rem;
     /*margin-top: 35rem !important;*/
        
    }
 
 
  }
  
  
  
  /* ======================== MEDIA QUERIES FOR about (SMALL DEVICES) ======================*/
  
  @media screen and (max-width:600px) {
      
    
     
      .about__socials, .scroll__down{
         display:none;
      }

      .about__container {
       
     /* margin-top: 40rem !important;*/
         
     }
   
   }
 